<footer class="footer">
  <p id="copyright">&copyGabriel Bryant. All Rights Reserved.</p>
  <script
    src-elem="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.js"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script type="module" src="../public/js/index.js" charset="UTF-8"></script>
  <script type="module" src="../public/js/newNote.js" charset="UTF-8"></script>
  <script
    type="module"
    src="../public/js/axiosMethods.js"
    charset="UTF-8"
  ></script>
</footer>
