<footer class="footer">
  <p id="copyright">&copyGabriel Bryant. All Rights Reserved.</p>
  <script
    src-elem="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  ></script>
  <script src="../public/js/index.js" charset="UTF-8"></script>
  <script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js' integrity='sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ==' crossorigin='anonymous' referrerpolicy='no-referrer')></script>
</footer>
