<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <title>Notes For Self | Home</title>
  </head>
  <header>
    <!-- Create a menu button here for when the page is too small to show buttons -->
    <p class="x-large header-el" id="title">Notes For Self</p>
    <a class="header-el" id="listView">List View</a>
    <a class="x-large header-el header-btn" id="signup">Sign Up</a>
    <a class="x-large header-el header-btn" id="login">Log In</a>
  </header>
</html>
